<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>MediumAlchemy</title>
    <div>
      <a href="{{ url_for('login') }}">Logout</a>
      <p id= "x"></p>
      <p id="y"></p>
    </div>
    <script src="{{ url_for('static', filename='js/gameLogic.js') }}"></script>
  </head>
  <body id = 'body'>
    <div id="inventory-panel">
      <h2>Inventory</h2>
      <ul id="inventory-list"></ul>
    </div>
  </body>