<!doctype html>
<html lang="en-US">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>MediumAlchemy</title>
  <div>
    <a href="{{ url_for('login') }}">Logout</a>
    <p id="x"></p>
    <p id="y"></p>
  </div>
</head>

<body id="body">
  <div id="achievementBanner" class="achievement-banner" style="display: none;">
    <p id="achievementBannerText"></p>
    <button id="closeBannerBtn">X</button>
  </div>
  <audio id="background-music" loop>
  <source src="{{ url_for('static', filename='audio/background.mp3') }}" type="audio/mpeg">
</audio>
  <!-- Achievements Button -->
  <button id="showAchievementsBtn">Achievements</button>
  <!-- Popup Container -->
  <div id="achievementsPopup" class="popup-overlay">
    <div class="popup-content">
      <span class="close-btn">&times;</span>
      <h2 id="achievementText">Unlocked Achievements</h2>
      <ul id="unlockedAchievements" style="list-style-type: none; padding-left: 0;"></ul>
      </ul>
      <h2 id="achievementText">Locked Achievements</h2>
      <ul id="lockedAchievements" style="list-style-type: none; padding-left: 0;"></ul>
    </div>
  </div>
  <div id="inventory-panel">
    <h2>Inventory</h2>
    <ul id="inventory-list"></ul>
  </div>
  <button id="clear" onclick="clearScreen()">Clear</button>
  <div id="discovery-counter"
    style="position: fixed; bottom: 10px; left: 10px; font-family: sans-serif; font-size: 30px;">
    Discovered: 0 / 0
  </div>
</body>
<script src="{{ url_for('static', filename='js/gameLogic.js') }}"></script>

</html>